body {
    background-color: white;
    color: black;
    font-family: Verdana;
    text-align: center;
}
ul, ol, li {
    list-style-position: inside;
}
section {
    max-width: 69ch;
    margin: 1em auto;
}
header {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}